<h1 id="profilebutton">{{user.username}} Profile's Page</h1>
<div class="profile-main">
  <div class="profile-first">
    <div>
      <img src={{user.image}} alt="" />
    </div>
    <div>
      <p>Name: {{user.name}} {{user.surname}}</p>
      <p>Username: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
      <p>Country: {{user.country}}</p>
      <p>Birthday: {{user.birthday}}</p>
      <p>Bio: {{user.bio}}</p>
      <a href="/auth/profile/{{user._id}}/editprofile"><button>Edit your profile</button></a>
    </div>
  </div>
  <div class="profile-second">
    {{#each review}}
      <h4>{{this.title}}</h4>
      <h5>{{this.activity.name}}</h5>
      <p>{{this.evaluation}}
        &#9734;
      </p>
      <p>Opinion: {{this.comment}}</p>
      <p>From me at {{this.date}}</p>
      <div class="button-review">
        <a href="/review/{{this._id}}/editreview"><button>Edit Review</button></a>
        <form action="/review/{{this._id}}/delete" method="POST">
          <button type="submit">Delete Review</button></form>
      </div>
      <hr />
    {{/each}}
  </div>
</div>
<a href="/country" class="link-pro"><button>Go to Website</button></a>