<h1 id ="profilebutton">{{User.username}} Profile's Page</h1>
<div class="profile-first">
  <img src={{user.image}} alt="" />
  <h3>Name: {{user.name}} {{user.surname}}</h3>
  <h3>Username: {{user.username}}</h3>
  <h3>Email: {{user.email}}</h3>
  <h3>Country: {{user.country}}</h3>
  <h3>Birthday: {{user.birthday}}</h3>
  <h3>Bio: {{user.bio}}</h3>
  <a href="/auth/profile/{{user._id}}/editprofile"><button>Edit your profile</button></a>
</div>
<div>
  {{#each review}}
    <h3>Title: {{this.title}}</h3>
    <h3>Local: {{this.activity.name}}</h3>
    <h3>Evaluation: {{this.evaluation}}</h3>
    <h3>Opinion: {{this.comment}}</h3>
    <p>From me at {{this.date}}</p>
    <a href="/review/{{this._id}}/editreview"><button>Edit Review</button></a>
    <form action="/review/{{this._id}}/delete" method="POST">
      <button type="submit">Delete Review</button></form>
  {{/each}}
</div>
<a href="/country" class="link-pro"><button>Go to Website</button></a>