<h1>Hotels</h1>
<h2>{{Hotel.name}}</h2>
<h3>{{Hotel.location.name}}</h3>
{{#each review}}
  <h4>{{this.title}}</h4>
  <p>{{this.evaluation}}</p>
  <p>{{this.comment}}</p>
  <p>From {{this.user.username}} at {{this.date}}</p>
{{/each}}
<a href="/hotel/{{Hotel._id}}/review"><button>Do a Review</button></a>