<h1 id = "countries">Countries</h1>
{{#each Countries}}
<h3>{{this.name}}</h3>
  <img src={{this.image}} alt="" />
  
  <a href="/country/{{this._id}}/details"><button>See
      {{this.name}}</button></a>
  <a href="/country/{{this._id}}/editcountry"><button>Edit Country</button></a>
{{/each}}
<a href="/country/addcountry"><button>Add Country</button></a>