<h1 id="cities-activites">Restaurant</h1>
<h2>{{Restaurant.name}}</h2>
<h3>{{Restaurant.location.name}}</h3>
{{#each review}}
  <h4>{{this.title}}</h4>
  <p>{{this.evaluation}}</p>
  <p>{{this.comment}}</p>
  <p>From {{this.user.username}} at {{this.date}}</p>
{{/each}}
<a href="/restaurant/{{Restaurant._id}}/review"><button>Do a Review</button></a>
<a href="/city/{{Restaurant.location._id}}"><button>Go Back</button></a>