<form
  action="/country/{{Country._id}}/editcountry"
  method="POST"
  enctype="multipart/form-data"
>
  <label for="name">Name:
    <input type="text" id="name" name="name" value={{Country.name}} />
  </label>
  <label for="image">Flag:
    <input
      type="file"
      name="image"
      accept="image/png, image/jpg"
      value={{Country.image}}
    />
  </label>
  <label for="location">Location:
    <input type="text" id="name" name="location" value={{Country.location}} />
  </label>
  <label for="population">Population:
    <input
      type="text"
      id="population"
      name="population"
      value={{Country.population}}
    />
  </label>
  <button type="submit">Edit City</button>
</form>